@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slider input[type="radio"] {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
}

.slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url(https://www.tesla.com/ns_videos/homepage/main_hero_homepage_desktop.jpg);
  background-size: 3200px;
  background-position-x: center; /* Add this line */
  background-position-y: -840px; /* Add this line */
  transition: 1s;
}
.slider__radio1:checked ~ .slider__slide {
  background-position-x: 0px;
}

.slider__radio2:checked ~ .slider__slide {
  background-position-x: -920px;
}

.slider__radio3:checked ~ .slider__slide{
  background-position-x: -1700px;
}

.text-slide {
  position: absolute;

}
